<a href="https://colab.research.google.com/github/parvathi231/Titanic-Survival-prediction-using-naive-bayes-/blob/main/3_TitanicSurvivalPrediction_NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TitanicSurvivalPrediction_NaiveBayes

# Importing basic libraries

In [ ]:
import pandas as pd
import numpy as np

# Choose Dataset from Local File Directory

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving titanicsurvival.csv to titanicsurvival.csv

# Load Dataset

In [ ]:
dataset = pd.read_csv('titanicsurvival.csv')

# Summarise Dataset

In [ ]:
print(dataset.shape)
print(dataset.head(5))

(891, 5)
   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

# Mapping text data  to binary value

In [ ]:
income_set = set(dataset['Sex'])
dataset['Sex'] = dataset['Sex'].map({'female':0,'male':1}).astype(int)
print(dataset.head)

<bound method NDFrame.head of      Pclass  Sex   Age     Fare  Survived
0         3    1  22.0   7.2500         0
1         1    0  38.0  71.2833         1
2         3    0  26.0   7.9250         1
3         1    0  35.0  53.1000         1
4         3    1  35.0   8.0500         0
..      ...  ...   ...      ...       ...
886       2    1  27.0  13.0000         0
887       1    0  19.0  30.0000         1
888       3    0   NaN  23.4500         0
889       1    1  26.0  30.0000         1
890       3    1  32.0   7.7500         0

[891 rows x 5 columns]>

# Segregating Dataset into x and y

In [ ]:
x = dataset.drop('Survived',axis='columns')
x

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    0  19.0  30.0000
888       3    0   NaN  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]

In [ ]:
y =  dataset.Survived
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

# Finding and removing na values from features of x

In [ ]:
x.columns[x.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
x.Age = x.Age.fillna(x.Age.mean())

# Test again to check any na value

In [ ]:
x.columns[x.isna().any()]

Index([], dtype='object')

# Splitting dataset into Train & Test

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25,random_state=0)

# Training

In [ ]:
from sklearn.naive_bayes import GaussianNB
model1 = GaussianNB()
model1.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

# Predicting, Wheather Person Survived or Not

In [ ]:
pclassNo = int(input("Enter Person's Pclass number:"))
gender = int(input("Enter Person's Gender 0-female 1-male(0 or 1):"))
age = int(input("Enter Person's Age:"))
fare = float(input("Enter Person's Fare:"))
person = [[pclassNo,gender,age,fare]]
result = model.predict(person)
print(result)

if result==1:
  print("Person might be Survived")
else:
  print("Person might not be Survived")

Enter Person's Pclass number:52
Enter Person's Gender 0-female 1-male(0 or 1):0
Enter Person's Age:30
Enter Person's Fare:3.3
[1]
Person might be Survived

# Prediction For all Test Data

In [ ]:
y_pred = model.predict(x_test)
print(np.column_stack((y_pred,y_test)))

[[0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 1]
 [0 1]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 1]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 1]
 [1 0]
 [1 1]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 1]
 [1 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]]

# Accuracy of the model

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy of the model: {0}%".format(accuracy_score(y_test,y_pred)*100))

Accuracy of the model: 77.57847533632287%

# Using  Different Method

In [ ]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,ComplementNB,BernoulliNB,CategoricalNB

model1 = GaussianNB()
model2 = MultinomialNB()
model3 = ComplementNB()
model4 = BernoulliNB()
model5 = CategoricalNB() 

model1.fit(x_train,y_train)
model2.fit(x_train,y_train)
model3.fit(x_train,y_train)
model4.fit(x_train,y_train)
model5.fit(x_train,y_train)

y_pred1 = model1.predict(x_test)
y_pred2 = model2.predict(x_test)
y_pred3 = model3.predict(x_test)
y_pred4 = model4.predict(x_test)
y_pred5 = model5.predict(x_test) 


print("Accuracy of the model: {0}%".format(accuracy_score(y_test,y_pred)*100))
print("Accuracy of the model: {0}%".format(accuracy_score(y_test,y_pred2)*100))
print("Accuracy of the model: {0}%".format(accuracy_score(y_test,y_pred3)*100))
print("Accuracy of the model: {0}%".format(accuracy_score(y_test,y_pred4)*100))
print("Accuracy of the model: {0}%".format(accuracy_score(y_test,y_pred5)*100))

Accuracy of the model: 77.57847533632287%
Accuracy of the model: 71.74887892376681%
Accuracy of the model: 72.19730941704036%
Accuracy of the model: 78.02690582959642%
Accuracy of the model: 80.26905829596413%